@import 'varibles';
@import '~bootstrap/scss/bootstrap';

.menu-wrap {
	position: fixed;
	top: 0;
	height: 100%;
	width: 350px;
	margin-left: -350px;
	font-size: 1em;
	font-weight: 700;
	overflow: auto;
  transition: .15s;
  background: #fff;
  z-index: 10;
    .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    &__img{
      margin: 40px 0;
      display: flex;
      cursor: pointer;
    }
  }
  .information{
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .information-wrap{
      width: 215px;
    }
    &__adress{
      margin-bottom: 30px;
    }  
    &__time{
      margin-bottom: 30px;
    }
    &__phone{
      margin-bottom: 30px;
    }
    &__title{
      display: flex;
      align-items: center;
      color: #89b749;
      padding-bottom: 5px;
      img{
        padding-right: 10px;
      }
    }
    &__street{
      p{
        margin-bottom: 0;
      }
    }
    &__days{
      width: 170px;
      p{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
      }
    }
    &__email{
      a{
        color: #000;
        text-decoration: none;
      }
    }
    &__numbers{
      display: flex;
      flex-direction: column;
      a{
        color: #000;
        text-decoration: none;
      }
    }
  }
}


.menu{
  padding-left: 65px;
  margin-bottom: 0;
}
.menu-show {
	margin-left: 0;
  box-shadow: 2px 2px 10px 1px #e8e8e8;
}
.menu-sidebar {
    height: 445px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
  li {
    padding: 10px 5px 0 0;
    list-style-type: none;
    font-size: 15px;
    font-family: $robotoRegular;
    &:first-child{
      padding: 0;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
      font-size: 1.18em;
      position: relative;
      &:hover:before{
        content: "\00B7";
        position: absolute;
        left: -10px;
        color: #89b749;
      }
      &:hover{
        color: #89b749;
      }
    }
  }
  .menu-item-has-children {
    position: relative;
    .sub-menu {
      display: none;
    }
  }
}

/*Hamburger Button*/
.toggle-button {
	position: fixed;
	width: 44px;
	height: 40px;
	top: 20px;
	left: 20px;
	padding: 4px;
	transition: .15s;
  z-index: 15;
  &:hover{
    cursor: pointer;
  }
  .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .15s;
  }
  .menu-bar-top {
    border: 4px solid #dadada;
    border-bottom: none;
    top: 0;
  }
  .menu-bar-middle {
    height: 4px;
    background-color: #dadada;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
  }
  .menu-bar-bottom {
    border: 4px solid #dadada;
    border-top: none;
    top: 22px;
  }
}
.button-open {
  left: 25px;
  .menu-bar-top {
    border-color: #dadada;
    transform: rotate(45deg) translate(8px, 8px);
    transition: .10s;
  }
  .menu-bar-middle {
    background-color: #dadada;
    transform: translate(230px);
    transition: .10s ease-in;
    opacity: 0;
  }
  .menu-bar-bottom {
    border-color: #dadada;
    transform: rotate(-45deg) translate(7px, -7px);
    transition: .10s;
  }
}

.banner {
  position: relative;
  height:1080px;
  width:100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
  &__videobcg {
    position: relaive;
    min-width: 100%;
    z-index: 0;
  }
  .overlay{
    position:absolute;
    top:430px;
    left:200px;
    z-index:1;
  }
}
