@import "_varibles";
@import "~bootstrap/scss/bootstrap";
@import "~owl.carousel/dist/assets/owl.carousel.min.css";

.menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  width: 350px;
  margin-left: -350px;
  font-size: 1em;
  font-weight: 700;
  overflow: auto;
  transition: 0.15s;
  background: #fff;
  z-index: 10;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    &__img {
      margin: 40px 0;
      display: flex;
      cursor: pointer;
    }
  }
  .information {
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .information-wrap {
      width: 215px;
    }
    &__adress,
    &__time,
    &__phone {
      margin-bottom: 30px;
    }
    &__title {
      display: flex;
      align-items: center;
      color: #89b749;
      padding-bottom: 5px;
      img {
        padding-right: 10px;
      }
    }
    &__street {
      p {
        margin-bottom: 0;
      }
    }
    &__days {
      width: 170px;
      p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
      }
    }
    &__email {
      a {
        color: #000;
        text-decoration: none;
      }
    }
    &__numbers {
      display: flex;
      flex-direction: column;
      a {
        color: #000;
        text-decoration: none;
      }
    }
    &__social {
      .fa-facebook-square {
        cursor: pointer;
        padding-right: 5px;
        font-size: 20px;
        color: #485ea2;
      }
      .fa-instagram {
        color: #000;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }
}

.menu {
  padding-left: 65px !important;
  margin-bottom: 0;
}
.menu-show {
  margin-left: 0;
  box-shadow: 2px 2px 10px 1px #e8e8e8;
}
.menu-sidebar {
  height: 445px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  li {
    padding: 10px 5px 0 0;
    list-style-type: none;
    font-size: 15px;
    font-family: $robotoRegular;
    &:first-child {
      padding: 0;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
      font-size: 1.18em;
      position: relative;
      &:hover:before {
        content: "\2022";
        position: absolute;
        left: -10px;
        color: #89b749;
      }
      &:hover {
        color: #89b749;
      }
    }
  }
  .menu-item-has-children {
    position: relative;
    .sub-menu {
      display: none;
    }
  }
}

/*Hamburger Button*/
.toggle-button {
  position: fixed;
  width: 44px;
  height: 40px;
  top: 20px;
  left: 20px;
  padding: 4px;
  transition: 0.15s;
  z-index: 15;
  &:hover {
    cursor: pointer;
  }
  .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: 0.15s;
  }
  .menu-bar-top {
    border: 4px solid #dadada;
    border-bottom: none;
    top: 0;
  }
  .menu-bar-middle {
    height: 4px;
    background-color: #dadada;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
  }
  .menu-bar-bottom {
    border: 4px solid #dadada;
    border-top: none;
    top: 22px;
  }
}
.button-open {
  left: 25px;
  .menu-bar-top {
    border-color: #dadada;
    transform: rotate(45deg) translate(8px, 8px);
    transition: 0.1s;
  }
  .menu-bar-middle {
    background-color: #dadada;
    transform: translate(230px);
    transition: 0.1s ease-in;
    opacity: 0;
  }
  .menu-bar-bottom {
    border-color: #dadada;
    transform: rotate(-45deg) translate(7px, -7px);
    transition: 0.1s;
  }
}

.banner {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  &__videobcg {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    z-index: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(0.5);
  }
  .overlay {
    display: none;
    position: absolute;
    top: 430px;
    left: 200px;
    z-index: 1;
  }
  .contact-us {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      cursor: pointer;
      font-size: 17px;
      font-family: $robotoRegular;
      color: #fff;
    }
  }
}

.about {
  width: 100%;
  height: 500px;
  .dentisy {
    margin-top: 300px;
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
    &__about {
      width: 710px;
      h1 {
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 60px;
      }
      p {
        font-size: 16px;
      }
    }
    &__video {
      .videobcg {
        height: 500px;
        filter: brightness(0.8);
      }
    }
  }
}

.our-specialist {
  width: 100%;
  height: 1265px;
  position: relative;
  margin-top: 330px;
  &__text {
    text-transform: uppercase;
    padding: 0 0 50px 160px;
  }
  .photo {
    position: relative;
    .about-user {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 280px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      h1 {
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        margin: 40px 0 30px 0;
      }
      p {
        text-align: center;
        color: #9aaf44;
      }
      button {
        width: 200px;
        height: 40px;
        margin: 35px auto;
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        outline: none;
        text-transform: uppercase;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
      }
      &__skills {
        margin: 0 0 0 45px;
        span {
          padding-right: 30px;
          &:last-child {
            padding-right: 0;
          }
          &:before {
            position: relative;
            left: -5px;
            content: "\2022";
            color: #fff;
          }
        }
      }
    }
  }
  .owl-item.cloned.active {
    .photo {
      cursor: pointer;
      margin: 6% 8%;
      transition: margin 0.4s ease;
      filter: brightness(0.4);
      .about-user {
        display: none;
      }
    }
  }
  .owl-item.active {
    .photo {
      cursor: pointer;
      margin: 6% 8%;
      transition: margin 0.5s ease;
      filter: brightness(0.4);
    }
    .about-user {
      display: none;
    }
  }
  .owl-item.center > .photo {
    cursor: auto;
    margin: 0;
    filter: brightness(1);
    .about-user {
      display: block;
    }
  }
}

.contact {
  margin: 85px 0 0 160px;
  display: flex;
  justify-content: space-between;
  &__form {
    .wrap-from {
      width: 700px;
      display: flex;
      justify-content: space-between;
      .left-form,
      .right-form {
        .input-field {
          width: 320px;
          .select-dropdown {
            color: #9e9e9e;
          }
        }
        .datepicker,
        .timepicker {
          width: 320px;
          font-size: 16px;
          margin: 0;
          input::placeholder {
            color: #9e9e9e;
          }
        }
        .modal {
          height: 348px;
        }
        .datepicker-modal {
          z-index: 5000 !important;
          top: 20% !important;
        }
        .timepicker-modal {
          z-index: 5000 !important;
          top: 20% !important;
        }
      }
    }
    .input-field {
      width: 700px;
      label {
        font-size: 16px;
      }
      button {
        width: 200px;
        height: 40px;
        margin: 120px auto;
        background: rgba(255, 255, 255, 0.1);
        color: #000;
        outline: none;
        text-transform: uppercase;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &__photo {
    img {
      width: 785px;
    }
  }
}

footer {
  border-top: 1px solid #e8e8e8;
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px 0 160px;
  .left-content {
    display: flex;
    p {
      border-right: 1px solid #e8e8e8;
      margin: 0;
      padding: 0 10px;
      &:last-child {
        border: none;
      }
    }
  }
  .rigth-content {
    display: flex;
    p {
      margin: 0;
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width: 1770px) {
  .our-specialist {
    width: 100%;
    height: 1165px;
  }
  .about .dentisy__video .videobcg {
    height: 400px;
  }
  .about .dentisy__about p {
    font-size: 15px;
  }
  .our-specialist {
    margin-top: 155px;
  }
}

@media only screen and (max-width: 1670px) {
  .about {
    height: auto;
  }
  .about .dentisy {
    margin-top: 250px;
  }
  .about .dentisy__video .videobcg {
    height: 400px;
  }
  .about .dentisy__about p {
    font-size: 14px;
  }
  .our-specialist {
    margin-top: 175px;
  }
  .contact__photo img {
    width: 645px;
  }
}
@media only screen and (max-width: 1570px) {
  .banner .overlay img {
    width: 450px;
  }
  .about .dentisy {
    margin-left: 100px;
  }
  .our-specialist__text {
    padding: 0 0 50px 100px;
  }
  .contact {
    margin: 85px 0 0 100px;
  }
}

@media only screen and (max-width: 1530px) {
  .banner .contact-us {
    width: 350px;
  }
  .banner .overlay {
    top: 330px;
  }
  .banner .overlay img {
    width: 450px;
  }
  .banner .contact-us a {
    font-size: 15px;
  }
  .menu {
    padding-left: 95px !important;
  }
  .menu-wrap .information {
    height: 450px;
  }
  .menu-wrap .information__title {
    font-size: 14px;
  }
  .menu-wrap .information__adress,
  .information__time,
  .information__phone p,
  a {
    font-size: 14px;
  }
  .menu-sidebar {
    height: 345px;
  }
  .menu-sidebar li a {
    font-size: 1em;
  }

  .about .dentisy__video .videobcg {
    height: 350px;
  }
  .about .dentisy__about h1 {
    padding-bottom: 35px;
  }
  .our-specialist {
    margin-top: 155px;
    height: 865px;
  }
  .contact__photo img {
    width: 590px;
    height: 100%;
  }
  .contact {
    margin: 170px 0 0 100px;
    &__form {
      .wrap-from {
        width: 600px;
        .left-form,
        .right-form {
          .input-field {
            width: 280px;
          }
          .datepicker,
          .timepicker {
            width: 280px;
            .picker {
              font-size: 16px;
            }
          }
        }
      }
      .input-field {
        width: 600px;
        label {
          font-size: 16px;
        }
      }
    }
  }
  .contact__form .input-field button {
    margin: 70px auto;
  }
  footer {
    height: 40px;
  }
  footer .left-content,
  .rigth-content {
    align-items: center;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1450px) {
  body{
    h1{
      font-size: 35px;
    }
  }
  .about .dentisy__about h1 {
    padding-bottom: 35px;
    font-size: 35px;
  }
  .banner .overlay img {
    width: 400px;
  }
  .menu-sidebar li a:hover:before {
    content: "\2022";
    position: absolute;
    left: -10px;
    color: #89b749;
    bottom: -2px;
  }
  .menu {
    padding-left: 95px !important;
  }
  .menu-wrap {
    width: 300px;
  }
  .menu-wrap .information .information-wrap {
    width: 160px;
  }
  .menu-wrap .information {
    height: 450px;
  }
  .menu-wrap .information__days {
    width: 140px;
  }
  .menu-wrap .information__title {
    font-size: 12px;
    padding-bottom: 2px;
  }
  .menu-wrap .information__adress,
  .information__time,
  .information__phone p,
  a {
    font-size: 12px;
  }
  .menu-sidebar {
    height: 325px;
  }
  .menu-sidebar li a {
    font-size: 0.8em;
  }
  .about .dentisy__about {
    width: 610px;
  }
  .about .dentisy__about p {
    font-size: 13px;
  }
  .our-specialist .photo .about-user {
    height: 250px;
  }
  .our-specialist .photo .about-user h1 {
    font-size: 18px;
    margin: 25px 0 20px 0;
  }
  .our-specialist .photo .about-user__skills span {
    padding-right: 20px;
    font-size: 13px;
  }
  .contact__photo img {
    width: 550px;
    height: 100%;
  }
  .contact {
    &__form {
      .wrap-from {
        .left-form,
        .right-form {
          .datepicker-modal {
            z-index: 5000 !important;
            top: 10% !important;
          }
          .timepicker-modal {
            z-index: 5000 !important;
            top: 10% !important;
          }
        }
      }
    }
  }
  footer .left-content,
  .rigth-content {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1370px) {
  body {
    h1 {
      font-size: 30px;
    }
  }
  .about .dentisy__about {
    width: 500px;
  }
  .about .dentisy__about p {
    font-size: 12px;
  }
  .about .dentisy__about h1 {
    padding-bottom: 18px;
  }
  .banner .contact-us {
    width: 310px;
  }
  .banner .contact-us a {
    font-size: 13px;
  }
  .banner .overlay img {
    width: 400px;
  }
  .our-specialist .wrap__carousel .front .about-user button {
    margin: 10px auto;
  }
  .contact {
    margin: 75px 0 0 130px;
    &__form {
      .wrap-from {
        width: 540px;
        .left-form,
        .right-form {
          .input-field {
            width: 240px;
            input {
              height: 2.7rem;
            }
            label {
              font-size: 13px;
            }
            .select-dropdown {
              font-size: 13px;
            }
          }
          .datepicker,
          .timepicker {
            width: 240px;
            font-size: 13px;
          }
        }
      }
      .input-field {
        width: 540px;
        label {
          font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1320px) {
  .our-specialist {
    margin-top: 155px;
    height: 800px;
  }
}

@media only screen and (max-width: 1300px) {
  .our-specialist .photo .about-user__skills {
    margin: 0 0 0 10px;
  }
  .contact {
    margin: 75px 0 0 100px;
    &__form {
      .wrap-from {
        width: 530px;
        .left-form,
        .right-form {
          .input-field {
            width: 230px;
            label {
              font-size: 13px;
            }
            .select-dropdown {
              font-size: 13px;
            }
          }
          .datepicker,
          .timepicker {
            width: 230px;
            font-size: 13px;
          }
        }
      }
      .input-field {
        width: 530px;
        label {
          font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1270px) {
  .banner__videobcg {
    width: 1270px;
  }
  .banner .overlay {
    top: 210px;
    left: 150px;
  }
  .menu-wrap {
    width: 260px;
  }
  .menu {
    padding-left: 85px !important;
  }
  .menu-wrap .logo__img {
    margin: 30px 0;
  }
  .menu-wrap .information {
    height: 400px;
  }
  .about .dentisy {
    margin-top: 200px;
    margin-left: 80px;
  }
  .our-specialist .wrap__text {
    padding-left: 80px;
  }
  .menu-sidebar li a:hover:before {
    content: "\2022";
    position: absolute;
    left: -10px;
    color: #89b749;
    bottom: -2px;
  }
  .contact__photo img {
    width: 500px;
    height: 100%;
  }
  .contact__form .input-field button {
    margin: 60px auto;
    width: 180px;
    height: 35px;
  }
  footer .left-content,
  .rigth-content {
    font-size: 11px;
    img {
      width: 100px;
    }
  }
  footer {
    height: 30px;
  }
}

@media only screen and (max-width: 1215px) {
  .button-open {
    left: 15px;
  }
  .banner .overlay img {
    width: 350px;
  }
  .banner__videobcg {
    width: 1215px;
  }
  .about .dentisy__about p {
    font-size: 10px;
  }
  .about .dentisy__video .videobcg {
    height: 270px;
  }
  .contact__photo img {
    width: 450px;
    height: 100%;
  }
  .contact {
    margin: 75px 0 0 130px;
    &__form {
      .wrap-from {
        width: 500px;
        .left-form,
        .right-form {
          .input-field {
            width: 240px;
          }
          .datepicker,
          .timepicker {
            width: 240px;
            .picker {
              font-size: 13px;
            }
          }
        }
      }
      .input-field {
        width: 500px;
        label {
          font-size: 13px;
        }
      }
    }
  }
  footer .left-content,
  .rigth-content {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .our-specialist .photo .about-user {
    height: 180px;
  }
  .our-specialist .photo .about-user h1 {
    font-size: 16px;
    margin: 20px 0 10px 0;
  }
  .our-specialist .photo .about-user__skills {
    margin: 0 10px 0 10px;
  }
  .our-specialist .photo .about-user__skills span {
    padding-right: 10px;
    font-size: 13px;
  }
  .our-specialist .photo .about-user button {
    width: 180px;
    height: 30px;
    margin: 20px auto;
  }
  .our-specialist .photo .about-user p {
    margin: 0;
  }
}
@media only screen and (max-width: 1100px) {
  .banner__videobcg {
    width: 1100px;
  }
  .banner .overlay {
    top: 210px;
    left: 150px;
  }
  .our-specialist .wrap__carousel li {
    height: 460px;
    width: 390px;
  }
  .our-specialist .wrap__carousel .right {
    left: 335px;
  }
  .our-specialist .wrap__carousel .left {
    left: -335px;
  }
  .contact__photo img {
    width: 430px;
    height: 100%;
  }
  .contact {
    margin: 75px 0 0 100px;
    &__form {
      .wrap-from {
        width: 480px;
        .left-form,
        .right-form {
          .input-field {
            width: 220px;
            input {
              height: 2.5rem;
            }
          }
          .datepicker,
          .timepicker {
            width: 220px;
            .picker {
              font-size: 13px;
            }
          }
        }
      }
      .input-field {
        width: 480px;
        label {
          font-size: 13px;
        }
      }
    }
  }
  footer .rigth-content img {
    width: 100px;
  }
}

@media only screen and (max-width: 1050px) {
  .banner__videobcg {
    width: 1045px;
  }
}
